.calendar-page-container {
  .calendar-info-container {
    .calendar-hander {
      padding: 0 10px;
      margin: 10px 0;

      .actions {
        display: flex;
        justify-content: space-between;

        .date-change-action {
          display: flex;
          align-items: center;
          
          .date-change {
            display: flex;
            align-items: center;
          }

          .add-diary {
            display: flex;
            align-items: center;

            .dete-add-icon {
              display: flex;
              align-items: center;
            }
          }
        }

      }

      .weeks {
        margin: 10px 0;
        display: flex;
        justify-content: space-between;

        .week {
          text-align: center;
        }
      }
    }
  }
}
