.wux-diary-card {
  display: flex;
  margin: 5px 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color:#fff;
}

.wux-diary-mood {
  margin-top: 10px;
}

.wux-diary-content-container {
  margin: 0 10px;
}

.wux-diary-date {
  color: #bbb;
}

.wux-diary-mood-content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 5px 0;
}

.wux-diary-mood-content .text {
  font-size: 18px;
  margin-right: 5px;
}
.wux-diary-mood-content .time {
  color: #bbb;
}

.wux-diary-activeity-container {
  margin: 5px 0;
}

.wux-diary-activeity-container .active-icon {
  margin-right: 2px;
}

.wux-diary-content {
  width: 100%;
  color: #999;
}

.wux-diary-edit {
  margin: 5px 0;
}
